wget
appdirs
tempdir
multipledispatch
numpy
tqdm
termcolor
fire
rich
openai
tree-sitter==0.21.3
tree-sitter-python
datasets==3.6.0
psutil

# vllm
vllm

# anthropic
anthropic

# google
google-generativeai

# transformers
transformers

# bedrock
boto3
